# .gitignore file for 'lang_detector'

__pycache__/
.DS_Store

# Virtual environments
.venv/

# IDEs
.idea/
.vscode/

# coverage.py
.coverage
.coverage.*
htmlcov/

# Testing
.pytest_cache/

# Output folders
models/
data/
